<html layout:decorate="~{/layouts/main}">
<?xml version="1.0" encoding="utf-8"?>
<th:block layout:fragment="head-title">
	<title th:text="#{index.header}" />
</th:block>
<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{document.header.theme}" /> <small><span
				th:text="#{document.title}" /></small>
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> <span
					th:text="#{index.breadcrumb-1}" /></a></li>
			<li><a href="#"><span th:text="#{index.breadcrumb-2}" /></a></li>
			<li class="active"><span th:text="#{index.breadcrumb-3}" /></li>
		</ol>
	</section>
</div>
<div layout:fragment="content">
	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="box">
			<!--<div class="box-header with-border">
            <h3 class="box-title"><span th:text="#{document.body.title}"/></h3>
				<!--
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>-->
			<div class="box-header document-period">
				<div class="col-md-8"></div>
				<div class="col-md-4">
					<div th:insert="/document/fragments/nav :: nav"></div>
				</div>
			</div>
			<div class="box-body">
				<div class="nav-tabs-custom">
					<div class="tab-content">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" aria-expanded="true"
								th:text="#{document.t}"
								onclick="javascript:getAsync('/document/theme/', '#document-list');return false;"></a></li>
							<li class=""><a
								onclick="javascript:getAsync('/document/proposal/', '#document-list');return false;"
								data-toggle="tab" aria-expanded="false" th:text="#{document.p}"></a></li>
							<li class=""><a
								onclick="javascript:getAsync('/document/monograph/', '#document-list');return false;"
								data-toggle="tab" aria-expanded="false" th:text="#{document.m}"></a></li>
						</ul>
						<div th:fragment="document-list" name="document-list"
							th:replace="/document/fragments/theme"></div>
						<!--<div id="theme" class="tab-pane active">
	            <div th:replace="/document/fragments/theme"></div>
	        </div>
	        <div id="proposal" class="tab-pane">
	           	<div th:replace="/document/fragments/proposal"></div>
	        </div>
	        <div id="monograph" class="tab-pane">
				<div th:replace = "/document/fragments/monograph"></div>
	        </div>  -->
					</div>
				</div>
			</div>
			<!-- /.box -->
	</section>
</div>
<th:block layout:fragment="css-view">
	<link rel="stylesheet" type="text/css" href="/css/myStyle.css" />
</th:block>
<th:block layout:fragment="js-view">
	<script src="/js/myScripts.js"></script>
</th:block>