<div th:fragment="items">

	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">

				<!-- Notifications: style can be found in dropdown.less -->
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-bell-o"></i> <span class="label label-warning"
						th:text="#{notification.number}"></span>
				</a>
					<ul class="dropdown-menu">
						<li class="header" th:text="#{notification.info}"></li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu" th:each="message : ${notifications}">
								<li>
										<div class="pull-left">
											<img src="${message.sender.picture?.pictureBase64}"
												class="img-circle" alt="User Image">
										</div>
										<h4 th:text="${message.sender.name}">
											Rodrigo Noll <small><i class="fa fa-clock-o"></i> 5
												mins</small>
										</h4>
										<p th:text="${message.content}">Não esquece de enviar tuas
											atualizações</p>
								</li>
							</ul></li>
						<li class="footer"><a href="/notification/notification" th:text="#{notification.footer1}"></a></li>
					</ul></li>
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						class="user-image"
						th:src="${#authentication.principal.user.picture?.pictureBase64}"
						alt="User Image" /> <span class="hidden-xs"
						th:text="${#authentication.principal.user.name}" />
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img
							src="/photos/no_image_available.png" class="img-circle"
							alt="User Image"
							th:src="${#authentication.principal.user.picture?.pictureBase64}">

							<p>
								<span class="hidden-xs"
									th:text="${#authentication.principal.user.name}" /> <small>Some
									description here...</small>
							</p></li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat"
									th:href="@{/user/profile}">Profile</a>
							</div>
							<div class="pull-right">
								<a href="#" th:href="@{/login?logout}"
									class="btn btn-default btn-flat">Sign out</a>
							</div>
						</li>
					</ul></li>
				<!-- Control Sidebar Toggle Button -->
				<li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</div>
	</nav>

</div>
