<div class="box box-primary direct-chat direct-chat-primary">
	<div class="box-header with-border">
		<h3 class="box-title">
			<span th:text="#{document.chat}" />
		</h3>
		<div class="box-body">
			<!-- Conversations are loaded here -->
			<div class="direct-chat-messages" th:fragment="chat-results" name="chat-results" id="chat-results">
				<!-- Message. Default to the left -->
				<div th:each="message: ${messages}" th:class="${message.sender.id == user.id} ? 'direct-chat-msg right' : 'direct-chat-msg'">
					<div class="direct-chat-info clearfix">
						<span class="direct-chat-name pull-left"><span
							th:text="${message.sender.username}" /></span>
					</div>
					<!-- /.direct-chat-info -->
					<img class="direct-chat-img" src="/photos/no_image_available.png"
						alt="Message User Image">
					<!-- /.direct-chat-img -->
					<div class="direct-chat-text" th:text="${message.content}">Não esquece de enviar tuas
						atualizações...</div>
					<!-- /.direct-chat-text -->
				</div>
				<!-- /.direct-chat-msg -->
			</div>
			<!--/.direct-chat-messages-->
			<!-- /.direct-chat-pane -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<form action="#" method="post"th:action="@{/chat/send}" th:object="${message}" id="chat-form">
				<div class="input-group">
					<div>
						<input type="hidden" id="id" th:field="*{id}">
						<input name="message" placeholder="Escrever Mensagem ..."
							class="form-control" type="text" th:field="*{content}"
							id="chat-input"> <label
							for="exampleInputFile" class="fa fa-paperclip"
							style="position: absolute; margin: 7px 0 0 -25px; z-index: 9999999; font-size: 20px"></label>
						<input id="exampleInputFile" type="file" style="display: none">
					</div>
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary btn-flat" onclick="javascript:sendMessage('/chat/send/');return false;">
							<i class="fa fa-envelope-o"></i> Enviar
						</button>
					</span>
				</div>
			</form>
		</div>
		<!-- /.box-footer-->
	</div>
</div>
<!-- /.box-body -->
<div class="box-footer">
	<button class="btn btn-danger" style="float: right">Finalizar
		etapa</button>
</div>
<!-- /.box-footer-->
<th:block layout:fragment="js-view">
    <script src="/js/myScripts.js"></script>
</th:block>