<div class="box-body">
	<div id="example2_wrapper"
		class="dataTables_wrapper form-inline dt-bootstrap">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table id="example2"
					class="table table-bordered table-hover dataTable" role="grid"
					aria-describedby="example2_info">
					<thead>
						<tr role="row">
							<th class="sorting_desc" tabindex="0" aria-controls="example2"
								rowspan="1" colspan="1"
								aria-label="Rendering engine: activate to sort column ascending"
								aria-sort="descending"><span th:text="#{document.name}" /></th>
							<th class="sorting" tabindex="0" aria-controls="example2"
								rowspan="1" colspan="1"
								aria-label="Browser: activate to sort column ascending"><span
								th:text="#{document.date}" /></th>
							<th class="sorting" tabindex="0" aria-controls="example2"
								rowspan="1" colspan="1"
								aria-label="Platform(s): activate to sort column ascending">
								<span th:text="#{document.action}" />
							</th>
							<th class="sorting" tabindex="0" aria-controls="example2"
								rowspan="1" colspan="1"
								aria-label="Engine version: activate to sort column ascending">
					</thead>
					<tbody>
						<tr role="row" class="odd">
						<tr>
							<td><a href="pages/examples/invoice.html">Estudo sobre
									Java Primeira Versão</a></td>
							<td>02/03/2018</td>
							<td><a href="#" class="btn btn-default"><i
									class="fa fa-times"></i> Excluir</a></td>
						</tr>
						<tr>
							<td><a href="pages/examples/invoice.html">Template
									Monografia</a></td>
							<td>12/02/2018</td>
							<td><a href="#" class="btn btn-default"><i
									class="fa fa-times"></i> Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div th:replace="/document/fragments/chat"></div>