<div>
	<form role="form">
		<div class="box-body">
			<div class="form-group">
				<label for="title">Title</label> <input type="text"
					class="form-control" id="title" placeholder="Enter paper title">
			</div>
			<div class="form-group">
				<label for="theme">Theme</label> <input type="text"
					class="form-control" id="theme" placeholder="Enter paper theme">
			</div>
			<div class="form-group">
				<label for="teacherAdvisor">Teacher Advisor</label> <select
					class="form-control" id="teacherAdvisor">
					<option>Select a teacher advisor</option>
					<option>Rodrigo Noll (3)</option>
					<option>Marcio Bigolin (1)</option>
					<option>Leonardo Carvalho (3)</option>
				</select>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea id="description" class="form-control" rows="3"
					placeholder="Enter paper description"></textarea>
			</div>
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-secondary">Save draft</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
