<html layout:decorate="~{/layouts/main}">

<head>
    <title th:text="#{item.header}"/>
</head>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
    <section class="content-header">
        <!-- PAGE TITLE -->
        <h1>
            <span th:text="#{assessment-bank.header}"/>
            <small><span th:text="#{assessment-bank.title}"/></small>
        </h1>
        <!-- BREADCRUMB -->
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> <span
                    th:text="#{index.breadcrumb-1}"/></a></li>
            <li><a href="#"><span th:text="#{index.breadcrumb-2}"/></a></li>
            <li class="active"><span th:text="#{index.breadcrumb-3}"/></li>
        </ol>
    </section>
</div>

<div layout:fragment="content">

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Listagem de trabalhos para seleção</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<table id="table-list-assessment-bank"
							class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Aluno</th>
									<th>Título do Trabalho</th>
									<th>Proposta</th>
									<th>Monografia</th>
									<th>Selecionar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="termPaper : ${termPapers}">
									<td th:text="${termPaper.author.name}">Aluno</td>
									<td th:text="${termPaper.author.name}">Título do Trabalho</td>
									<td th:text="${termPaper.author.name}">??</td>
									<td th:text="${termPaper.author.name}">??</td>
									<td><a href="listprofessors"> <span
											class="btn btn-block btn-flat">Escolher Banca</span>
									</a></td>
								</tr>


							</tbody>

							<tbody>
								<tr>
									<td>Aluno</td>
									<td>Título do Trabalho</td>
									<td>??</td>
									<td>??</td>
									<td><a href="listprofessors"> <span
											class="btn btn-block btn-flat">Escolher Banca</span>
									</a></td>
								</tr>


							</tbody>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

	</section>

</div>